<h2 class="ui center aligned large header">
  <em>チャットアプリの世界へようこそ!</em>
</h2>

<h4 class="ui center aligned medium icon header">
  <i class="orange user circle icon"></i>
   楽しくチャットしよう！</br>
   <% unless logged_in? %>
     <div class="ui buttons">
       <%= link_to "登録", signup_path, class: "ui inverted green button" %>
       <div class="or"></div>
       <%= link_to "ログイン", login_path, class: "ui inverted primary button" %>
     </div>  
  <% end %>
</h4>


<div class="ui placeholder segment">
  <h3 class="ui center aligned large header">
  <em>たくさんのチャット仲間がいます！</em>
</h3>
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui relaxed divided list">
        <% @messages1.each do |index1| %>
        <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/<%= index1.user.username %></div>
            <div class="description">ChatMessage: <%= index1.body %></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui relaxed divided list">
       <% @messages2.each do |index2| %>  
       <div class="item">
          <i class="large github middle aligned icon"></i>
          <div class="content">
            <div class="header">Username/<%= index2.user.username %></div>
            <div class="description">ChatMessage: <%= index2.body %></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>