<div class="ui centered card">
    <div class="image">
      <%= image_tag 'pic.png'%>
    </div>
    <div class="content">
      <a class="header"><%= @user.username %></a>
      <div class="meta">
        <span class="date">Joined in <%= @user.created_at.strftime('%Y/%m/%d') %></span>
      </div>
      <div class="description">
        <%= @user.comment %>
      </div>
    </div>
    <div class="content">
      <span class="right floated">
      <i class="comment icon"></i>
      <%= pluralize(@user.messages.count, "message") %>
      </span>
    </div>
    <% if logged_in? %>
      <% unless current_user?(@user) %>
      <div class="content centered">
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
</div>

    

  